# Sets, Collections, & Exception Handling 

## Sets

* create a new empty set
* print that set

In [3]:
empty_set = set()
print(empty_set)

set()

* create a non empty set
* print that set

In [6]:
s1 = {1, 2}
print(s1)

{1, 2}

set

* iterate over the set and print results

In [8]:
for ele in s1:
    print(ele)

1
2

* add one item to the set

In [10]:
s1.add(3)
print(s1)

{1, 2, 3}

* add multiple items to the set

In [22]:
s1 = s1 | {4, 5, 6}
print(s1)

{1, 2, 3, 4, 5, 6}

* remove an item from a set if it is present in the set

In [43]:
s1.discard(4)
print(f'Set after discard: \n{s1}')

Set after discard:
{1, 2, 3, 5, 6}

* find maximum and minimum values of the set

In [41]:
print(f'Maximum of the set is: {max(s1)}')
print(f'Minimum of the set is: {min(s1)}')

Maximum of the set is: 6
Minimum of the set is: 1

* print the length of the set

In [45]:
print(f'Length of the set is:\n{len(s1)}')

Length of the set is:
5

* create an intersection of x and y

In [46]:
x.interesection(y)
# or
x & y

NameError: name 'x' is not defined

* create an union of x and y

In [ ]:
x.union(y)
# or
x | y

* create difference between x and y

In [ ]:
x.difference(y)
# or
x - y

---------------
## Collections

* for each word in a sentence count the occurence
* **sentence:** *black cat jumped over white cat*

In [47]:
from collections import Counter

In [48]:
sentence = 'black cat jumped over the white cat'

Counter(sentence.split())

Counter({'black': 1, 'cat': 2, 'jumped': 1, 'over': 1, 'the': 1, 'white': 1})

* print the most common words

In [50]:
Counter(sentence.split()).most_common()

[('cat', 2),
 ('black', 1),
 ('jumped', 1),
 ('over', 1),
 ('the', 1),
 ('white', 1)]

* count the occurences of words in the same sentence but now use **defaultdict**

In [51]:
from collections import defaultdict

In [53]:
d = defaultdict(int)

for word in sentence.split():
    d[word] += 1

print(d.items())

dict_items([('black', 1), ('cat', 2), ('jumped', 1), ('over', 1), ('the', 1), ('white', 1)])

* create deque from list set used in first exercise

In [54]:
from collections import deque

In [62]:
deq1 = deque(s1)
print(deq1)

deque([1, 2, 3, 5, 6])

* append number 10 to deque

In [64]:
deq1.append(10)
print(deq1)

deque([1, 2, 3, 5, 6, 10])

* remove element from the right end from deque

In [65]:
deq1.pop()
print(deq1)

deque([1, 2, 3, 5, 6])

* remove element from the left end from deque

In [66]:
deq1.popleft()
print(deq1)

deque([2, 3, 5, 6])

* delete all elements from deque

In [67]:
deq1.clear()
print(deq1)

deque([])

* create named tuple (people) with name and surname as position names

In [68]:
from collections import namedtuple

In [76]:
People = namedtuple('People', 'name, surname')

* print name and surname

In [77]:
p1 = People('Kevin', 'Ting')
print(p1)

People(name='Kevin', surname='Ting')

_________________
## Exception handling
Now, let's practice with **errors and exception handling**

* Transform all string elements from a list to upper, if the element is not a string don't transform it.
* Use a try & except block without using the 'if' statement.

In [85]:
try:
    lst = ['abc', '123', 123, [1, 2]]
    lst_upper = [ele.upper() for ele in lst]
except AttributeError:
    print('AttributeError had occurred')
print('The End')

AttributeError had occurred
The End

### We have created a function below:

Luke Skywalker has family and friends. Help him remind himself the type of relation he has with his family and friends. 

Given a string with a name, return the relation of that person to Luke.

**Person --> Relation**
- Darth Vader --> father
- Leia --> sister
- Han --> brother in law
- R2D2 --> droid

#### Examples

> relation_to_luke("Darth Vader") ➞ "Luke, I am your father."
>
> relation_to_luke("Leia") ➞ "Luke, I am your sister."
>
> relation_to_luke("Han") ➞ "Luke, I am your brother in law."

In [94]:
def relation_to_luke(text):
    _dict = {}
    _dict["Darth Vader"] = "father"
    _dict["Leia"] = "sister"
    _dict["Han"] = "brother in law"
    _dict["R2D2"] = "droid"
    print(f"Luke, I am your {_dict[text]}")

#### Task I
Fix errors in the function above so we can run following code

In [95]:
relation_to_luke("Darth Vader")
relation_to_luke("Leia")
relation_to_luke("Han")
relation_to_luke("R2D2")

Luke, I am your father
Luke, I am your sister
Luke, I am your brother in law
Luke, I am your droid

#### Task II
Use exception handling so we can run the function with any string. In this case, the function will return following:

**relation_to_luke("aaaa") ➞ "aaaa is not in the relation with Luke"**

**Note:** Do **Not** use an **if** statement for this

In [99]:
def relation_to_luke(text):
    try:
        _dict = {}
        _dict["Darth Vader"] = "father"
        _dict["Leia"] = "sister"
        _dict["Han"] = "brother in law"
        _dict["R2D2"] = "droid"
        print(f"Luke, I am your {_dict[text]}")
    except:
        print(f'{text} is not in the relation with Luke')