In [1]:
import pandas as pd

### Download the data and load it to Pandas. 

You can find them [here](https://drive.google.com/file/d/1NY6cmF9Shjw-dD7BD6bNmfcIVz-kQcFR/view?usp=sharing).

In [2]:
titles = pd.read_csv('titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [3]:
cast = pd.read_csv('cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### What are the ten most common movie names of all time?

In [4]:
titles.value_counts('title').head(10)

title
Hamlet                  18
Carmen                  16
Macbeth                 15
The Outsider            12
Maya                    12
Freedom                 11
The Three Musketeers    11
Temptation              11
Othello                 11
Kismet                  11
dtype: int64

### Which three years in the 1930s saw the most films released?

In [5]:
titles[titles.year // 10 == 193].value_counts('year').head(3)

year
1937    1196
1936    1138
1938    1129
dtype: int64

### Count the number of films that have been released in each decade over the history of cinema.

In [6]:
titles.title.groupby((titles.year // 10) * 10).count()

year
1890        3
1900       37
1910     6512
1920     8797
1930    10097
1940     8576
1950    12711
1960    17515
1970    18714
1980    20243
1990    22225
2000    38713
2010    67977
2020      210
Name: title, dtype: int64

### Count the number of "Hamlet" films made in each decade.

In [7]:
titles.title[titles.title == 'Hamlet'].groupby((titles.year // 10) * 10).count()

year
1910    3
1920    1
1940    1
1950    1
1960    2
1970    2
1980    1
1990    2
2000    2
2010    3
Name: title, dtype: int64

### Count the number of "Rustler" characters in each decade of the history of film.

In [8]:
cast.character[cast.character == 'Rustler'].groupby((cast.year // 10) * 10).count()

year
1920     6
1930    84
1940    18
1950     8
1960     2
1970     9
1980     1
1990     4
2000     2
Name: character, dtype: int64

### Count the number of "Hamlet" characters in each decade.

In [9]:
cast.character[cast.character == 'Hamlet'].groupby((cast.year // 10) * 10).count()

year
1910     6
1920     1
1930     6
1940     1
1950     3
1960     7
1970     8
1980     2
1990    11
2000    19
2010    28
Name: character, dtype: int64

### What are the 11 most common character names in movie history?

In [10]:
cast.character.groupby(cast.character).count().sort_values(ascending = False).head(11)

character
Himself        19600
Dancer         12096
Extra          10953
Reporter        8154
Doctor          7436
Student         7177
Policeman       6883
Party Guest     6742
Nurse           6676
Bartender       6613
Minor Role      6255
Name: character, dtype: int64

### Who are the 10 people most often credited as "Herself" in film history?

In [11]:
cast.name[cast.character == 'Herself'].groupby(cast.name).count().sort_values(ascending = False).head(10)

name
Queen Elizabeth II    11
Joyce Brothers         9
Margaret Thatcher      8
Hillary Clinton        7
Mary Jo Pehl           7
Joan Rivers            6
Sumie Sakai            6
Bunny Yeager           5
Kareena Kapoor         5
Rekha                  5
Name: name, dtype: int64

### Who are the 10 people most often credited as "Himself" in film history?

In [12]:
cast.name[cast.character == 'Himself'].groupby(cast.name).count().sort_values(ascending = False).head(10)

name
Adolf Hitler             100
Richard Nixon             46
Ronald Reagan             39
John F. Kennedy           34
Winston Churchill         24
Benito Mussolini          23
Ron Jeremy                23
George W. Bush            23
Martin Luther King        21
Franklin D. Roosevelt     20
Name: name, dtype: int64

### Which actors or actresses appeared in the most movies in the year 1945?

In [13]:
cast.name[((cast.type == 'actor') | (cast.type == 'actress')) & (cast.year == 1945)].groupby(cast.name).count().sort_values(ascending = False).head(1)

name
Emmett Vogan    39
Name: name, dtype: int64

### Which actors or actresses appeared in the most movies in the year 1985?

In [14]:
cast.name[((cast.type == 'actor') | (cast.type == 'actress')) & (cast.year == 1985)].groupby(cast.name).count().sort_values(ascending = False).head(1)

name
Mammootty    22
Name: name, dtype: int64

### How many roles "Mammootty" has played in each year of his career.

In [15]:
cast.character[cast.name == 'Mammootty'].groupby(cast.year).count()

year
1971     1
1980     2
1981     3
1982     7
1983    18
1984    16
1985    22
1986    18
1987     9
1988     7
1989    10
1990    15
1991     6
1992     3
1993     5
1994     5
1995     5
1996     3
1997     2
1998     4
1999     4
2000     7
2001     3
2002     3
2003     2
2004     8
2005     6
2006     8
2007     7
2008     9
2009    12
2010     9
2011     7
2012     7
2013     5
2014     6
2015     6
2016     4
2017     1
Name: character, dtype: int64

### What are the 10 most frequent roles that start with the phrase "Patron in"?

In [16]:
cast.character[cast.character.str.startswith('Patron in')].groupby(cast.character).count().sort_values(ascending = False).head(10)

character
Patron in Frisky Rabbit         16
Patron in Chinese Restaurant     9
Patron in the Coffee House       9
Patron in Billiard Parlor        5
Patron in Bar                    4
Patron in restaurant             4
Patron in Club                   3
Patron in Restaurant             3
Patron in cabaret                3
Patron in Audience               2
Name: character, dtype: int64

### What are the 10 most frequent roles that start with the word "Science"?

In [17]:
cast.character[cast.character.str.startswith('Science')].groupby(cast.character).count().sort_values(ascending = False).head(10)

character
Science Teacher         60
Science Student          9
Science Fair Student     9
Science Fair Judge       6
Science Reporter         5
Science Promo Cadet      5
Science Club Member      5
Science Kid              5
Science                  4
Science Officer          3
Name: character, dtype: int64

### Count number of n-values of the roles that Judi Dench has played over her career.

In [18]:
cast.n[cast.name == 'Judi Dench'].sum()

399.0

### Count number of n-values of Cary Grant's roles through his career.

In [19]:
cast.n[cast.name == 'Cary Grant'].sum()

147.0

### Count number of n-value of the roles that Sidney Poitier has acted over the years.

In [20]:
cast.n[cast.name == 'Sidney Poitier'].sum()

116.0

### How many leading (n=1) roles were available to actors, and how many to actresses, in the 1950s?

In [21]:
cast.type[(cast.n == 1) & (cast.year // 10 == 195)].groupby(cast.type).count()

type
actor      6616
actress    2965
Name: type, dtype: int64

### How many supporting (n=2) roles were available to actors, and how many to actresses, in the 1950s?

In [22]:
cast.type[(cast.n == 2) & (cast.year // 10 == 195)].groupby(cast.type).count()

type
actor      4564
actress    4556
Name: type, dtype: int64