# JSON exercise

Download the data from [**here**](https://drive.google.com/file/d/1DGaX5AVfYhmWeb15lI-MzUbSKTYSz9fQ/view?usp=sharing) and answer following questions:
1. Find the 10 countries with most projects
2. What are top 10 sectors with projects?
3. Find the top 10 major project themes (using column 'mjtheme_namecode')
4. In 3. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

[Answer](https://notebook.community/norsween/data-science/springboard-answers-to-exercises/sliderule_dsi_json_exercise-answers%20to%20exercises)

In [229]:
# import packages
import pandas as pd
pd.set_option('display.max_columns', None)
import json
import numpy as np

## 1. Find the 10 countries with most projects.

In [19]:
wb_json = json.load(open('world_bank_projects.json'))

In [95]:
wb_norm = pd.json_normalize(wb_json)
wb_norm.head()

,sector,supplementprojectflg,projectfinancialtype,prodline,mjtheme,idacommamt,impagency,project_name,mjthemecode,closingdate,totalcommamt,id,mjsector_namecode,docty,lendinginstr,countrycode,totalamt,mjtheme_namecode,boardapprovaldate,countryshortname,prodlinetext,productlinetype,regionname,status,country_namecode,envassesmentcategorycode,approvalfy,projectdocs,lendprojectcost,lendinginstrtype,grantamt,themecode,borrower,sectorcode,majorsector_percent,board_approval_month,theme_namecode,countryname,url,source,projectstatusdisplay,ibrdcommamt,sector_namecode,sector1.Percent,sector1.Name,sector2.Percent,sector2.Name,sector4.Percent,sector4.Name,project_abstract.cdata,theme1.Percent,theme1.Name,sector3.Percent,sector3.Name,_id.$oid
0,"[{'Name': 'Primary education'}, {'Name': 'Seco...",N,IDA,PE,[Human development],130000000,MINISTRY OF EDUCATION,Ethiopia General Education Quality Improvement...,"8,11",2018-07-07T00:00:00Z,130000000,P129828,"[{'code': 'EX', 'name': 'Education'}, {'code':...","Project Information Document,Indigenous People...",Investment Project Financing,ET,130000000,"[{'code': '8', 'name': 'Human development'}, {...",2013-11-12T00:00:00Z,Ethiopia,IBRD/IDA,L,Africa,Active,Federal Democratic Republic of Ethiopia!$!ET,C,1999,"[{'DocDate': '28-AUG-2013', 'EntityID': '09022...",550000000,IN,0,65,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,"ET,BS,ES,EP","[{'Percent': 46, 'Name': 'Education'}, {'Perce...",November,"[{'code': '65', 'name': 'Education for all'}]",Federal Democratic Republic of Ethiopia,http://www.worldbank.org/projects/P129828/ethi...,IBRD,Active,0,"[{'code': 'EP', 'name': 'Primary education'}, ...",46,Primary education,26.0,Secondary education,12.0,Tertiary education,The development objective of the Second Phase ...,100,Education for all,16.0,Public administration- Other social services,52b213b38594d8a2be17c780
1,[{'Name': 'Public administration- Other social...,N,OTHER,RE,"[Economic management, Social protection and ri...",0,MINISTRY OF FINANCE,TN: DTF Social Protection Reforms Support,"1,6",NaN,4700000,P144674,"[{'code': 'BX', 'name': 'Public Administration...","Project Information Document,Integrated Safegu...",Specific Investment Loan,TN,0,"[{'code': '1', 'name': 'Economic management'},...",2013-11-04T00:00:00Z,Tunisia,Recipient Executed Activities,L,Middle East and North Africa,Active,Republic of Tunisia!$!TN,C,2015,"[{'DocDate': '29-MAR-2013', 'EntityID': '00033...",5700000,IN,4700000,"54,24",GOVERNMENT OF TUNISIA,"BZ,BS","[{'Percent': 70, 'Name': 'Public Administratio...",November,"[{'code': '24', 'name': 'Other economic manage...",Republic of Tunisia,http://www.worldbank.org/projects/P144674?lang=en,IBRD,Active,0,"[{'code': 'BS', 'name': 'Public administration...",70,Public administration- Other social services,30.0,General public administration sector,NaN,NaN,NaN,30,Other economic management,NaN,NaN,52b213b38594d8a2be17c781
2,[{'Name': 'Rural and Inter-Urban Roads and Hig...,Y,IDA,PE,"[Trade and integration, Public sector governan...",6060000,MINISTRY OF TRANSPORT AND COMMUNICATIONS,Tuvalu Aviation Investment Project - Additiona...,"5,2,11,6",NaN,6060000,P145310,"[{'code': 'TX', 'name': 'Transportation'}]","Resettlement Plan,Environmental Assessment,Int...",Investment Project Financing,TV,6060000,"[{'code': '5', 'name': 'Trade and integration'...",2013-11-01T00:00:00Z,Tuvalu,IBRD/IDA,L,East Asia and Pacific,Active,Tuvalu!$!TV,B,2014,"[{'DocDate': '21-OCT-2013', 'EntityID': '00033...",6060000,IN,0,"52,81,25,47",MINISTRY OF FINANCE AND ECONOMIC DEVEL,TI,"[{'Percent': 100, 'Name': 'Transportation'}]",November,"[{'code': '47', 'name': 'Regional integration'...",Tuvalu,http://www.worldbank.org/projects/P145310?lang=en,IBRD,Active,0,"[{'code': 'TI', 'name': 'Rural and Inter-Urban...",100,Rural and Inter-Urban Roads and Highways,NaN,NaN,NaN,NaN,NaN,46,Regional integration,NaN,NaN,52b213b38594d8a2be17c782
3,[{'Name': 'Other social services'}],N,OTHER,RE,"[Social dev/gender/inclusion, Social dev/gende...",0,LABOR INTENSIVE PUBLIC WORKS PROJECT PMU,Gov't and Civil Society Organization Partnership,"7,7",NaN,1500000,P144665,"[{'code': 'JX', 'name': 'Health and other soci...","Procurement Plan,Project Information Document,...",Technical Assistance Loan,RY,0,"[{'code': '7', 'name': 'Social dev/gender/incl...",2013-10-31T00:00:00Z,"Yemen, Republic of",Recipient Executed Activities,L,Middle East and North Africa,Active,Republic of Yemen!$!RY,C,2014,"[{'DocDate': '15-MAY-2013', 'EntityID': '00035...",1500000,IN,1500000,"59,57",MIN. OF PLANNING AND INT'L COOPERATION,JB,"[{'Percent': 100, 'Name': 'Health and other so...",October,"[{'code': '57', 'name': 'Participation and civ...",Republic of Yemen,http://www.worldbank.org/projects/P144665?lang=en,IBRD,Active,0,"[{'code': 'JB', 'name': 'Other social services'}]",100,Other social services,NaN,NaN,NaN,NaN,NaN,50,Participation and civic engagement,NaN,NaN,52b213b38594d8a2be17c783
4,[{'Name': 'General industry and trade sector'}...,N,IDA,PE,"[Trade and integration, Financial and private ...",13100000,MINISTRY OF TRADE AND INDUSTRY,Second Private Sector Competitiveness and Econ...,"5,4",2019-04-30T00:00:00Z,13100000,P144933,"[{'code': 'YX', 'name': 'Industry and trade'},...","Project Information Document,Integrated Safegu...",Investment Project Financing,LS,13100000,"[{'code': '5', 'name': 'Trade and integration'...",2013-10-31T00:00:00Z,Lesotho,IBRD/IDA,L,Africa,Active,Kingdom of Lesotho!$!LS,B,2014,"[{'DocDate': '06-SEP-2013', 'EntityID': '09022...",15000000,IN,0,"41,45",MINISTRY OF FINANCE,"FH,YW,YZ","[{'Percent': 50, 'Name': 'Industry and trade'}...",October,"[{'code': '45', 'name': 'Export development an...",Kingdom of Lesotho,http://www.worldbank.org/projects/P144933/seco...,IBRD,Active,0,"[{'code': 'YZ', 'name': 'General industry and ...",50,General industry and trade sector,40.0,Other industry,NaN,NaN,The development objective of the Second Privat...,30,Export development and competitiveness,10.0,SME Finance,52b213b38594d8a2be17c784

In [102]:
wb_norm.countryname.value_counts().head(10)

People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Kingdom of Morocco                 12
Nepal                              12
People's Republic of Bangladesh    12
Republic of Mozambique             11
Africa                             11
Name: countryname, dtype: int64

## 2. What are top 10 sectors with projects?

In [84]:
sector_norm = pd.json_normalize(wb_json, 'sector')
sector_norm

                                                   Name
0                                     Primary education
1                                   Secondary education
2          Public administration- Other social services
3                                    Tertiary education
4          Public administration- Other social services
...                                                 ...
1400                Agricultural extension and research
1401  Public administration- Agriculture, fishing an...
1402                Agro-industry, marketing, and trade
1403                                    Urban Transport
1404              Public administration- Transportation

[1405 rows x 1 columns]

In [92]:
sector_norm.value_counts().head(10)

Name
Other social services                                       106
Central government administration                            82
Sub-national government administration                       75
General agriculture, fishing and forestry sector             65
Health                                                       63
General public administration sector                         51
Rural and Inter-Urban Roads and Highways                     44
General water, sanitation and flood protection sector        39
Agricultural extension and research                          38
Public administration- Agriculture, fishing and forestry     36
dtype: int64

## 3. Find the top 10 major project themes (using column 'mjtheme_namecode')

In [290]:
mjtheme_norm = pd.json_normalize(wb_json, 'mjtheme_namecode')
mjtheme_norm.head(10)

  code                                          name
0    8                             Human development
1   11
2    1                           Economic management
3    6         Social protection and risk management
4    5                         Trade and integration
5    2                      Public sector governance
6   11  Environment and natural resources management
7    6         Social protection and risk management
8    7                   Social dev/gender/inclusion
9    7                   Social dev/gender/inclusion

In [316]:
mjtheme_norm.groupby('code').size().sort_values(ascending = False).head(10)

code
11    250
10    216
8     210
2     199
6     168
4     146
7     130
5      77
9      50
1      38
dtype: int64

## 4. In 3. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [171]:
mjtheme_norm.head()

  code                                   name
0    8                      Human development
1   11
2    1                    Economic management
3    6  Social protection and risk management
4    5                  Trade and integration

In [343]:
mjtheme_wan = mjtheme_norm.replace('', np.nan)
mjtheme_wnan
mjtheme_map = mjtheme_wnan.dropna().drop_duplicates()
mjtheme_map

    code                                          name
0      8                             Human development
2      1                           Economic management
3      6         Social protection and risk management
4      5                         Trade and integration
5      2                      Public sector governance
6     11  Environment and natural resources management
8      7                   Social dev/gender/inclusion
11     4      Financial and private sector development
18    10                             Rural development
53     9                             Urban development
252    3                                   Rule of law

In [412]:
mjtheme_complete = mjtheme_norm.merge(mjtheme_map, on = ['code']).drop('name_x', axis = 1)
mjtheme_complete

     code             name_y
0       8  Human development
1       8  Human development
2       8  Human development
3       8  Human development
4       8  Human development
...   ...                ...
1494    3        Rule of law
1495    3        Rule of law
1496    3        Rule of law
1497    3        Rule of law
1498    3        Rule of law

[1499 rows x 2 columns]